.notFound{
    min-block-size: 80vh;
}

.notFound-content{
    display: flex;
    flex-direction: column;
    inline-size: 100%;
    block-size: 100%;
    align-items: center;
    justify-content: center;
    /* color: var(--buttonColor); */

    gap: .5rem;
}

.backToHome{
    font: var(--headLine3);
    outline: none;
    border: 2px solid var(--buttonColor);
    cursor: pointer;
    z-index: 2;
    background-color: inherit;
    border-radius: .4rem;
    padding-inline: .5rem;
    transition-duration: .4s;
}
.backToHome:active{
    transform: scale(.9);
}
.backToHome a{
    text-decoration: none;
    color: var(--buttonColor);
    transition-duration: .4s;
}
.backToHome:hover{
    background-color: var(--buttonColor);
}
.backToHome:hover>a{
    color: white;
}

.loader404 {
    position: absolute;
    width: 220px;
    height: 220px;
  }
  
  .loader404:before , .loader404:after{
    content: '';
    border-radius: 50%;
    position: absolute;
    inset: 0;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3) inset;
  }
  .loader404:after {
    box-shadow: 0 2px 0 var(--buttonColor) inset;
    animation: rotate404 2s linear infinite;
  }
  
  @keyframes rotate404 {
    0% {  transform: rotate(0)}
    100% { transform: rotate(360deg)}
  }