.financing{
    background-image: url(../image/financing-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    min-block-size: 100vh;
}

.financing-content{
    display: flex;
    gap: 5rem;
    justify-content: center;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 0, 0, 0, 0.4 );
    backdrop-filter: blur( 8px );
    -webkit-backdrop-filter: blur( 8px );
    border-radius: .5rem;
    padding: 2rem;
    border: 2px solid var(--secondaryColor);
    margin-block: 4rem;
}

.financing-options{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.financing-card{
    display: flex;
    flex-direction: column;
    max-inline-size: 20rem;
    gap: 1.5rem;
    align-items: center;
    text-align: center;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 0, 0, 0, 0.4 );
    backdrop-filter: blur( 8px );
    -webkit-backdrop-filter: blur( 8px );
    border: 2px solid var(--secondaryColor);
    border-radius: .5rem;
    padding: 1rem;

}

.financing-card h3{
    color: var(--buttonColor);
    font-weight: bold;
}

.financing-card img{
    vertical-align: middle;
}