.hero{
    grid-column: 1 / -1;
    grid-row-start: 1;
    background-image: url(../image/hero-bg-image2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-block-size: 37.5rem;
}

.hero-content{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    grid-area: content;
    max-block-size: 37.5rem;
    padding: 1rem;
    color: white;
    gap: 1rem;
    margin-block: 2rem;
}
.hero-content h1{
    background: rgba( 128, 128, 128, 0.4 );
    box-shadow: 0 5px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    border-radius: 10px;
    margin: 0;
    margin-block-end: 4rem;
    padding: .5rem;
    opacity: 0;
    transition: 1s;
    user-select: none;
    text-align: center;
}
.hero-content br{
    display: none;
}

.hero-content h2{
    background: rgba( 128, 128, 128, 0.4 );
    box-shadow: 0 5px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    border-radius: 10px;
    margin: 0;
    padding: .5rem;
    text-align: center;
    opacity: 0;
    transition: 1s;
    user-select: none;
    font-style: italic;
    font-weight: bold;
}
.hero-content h2:nth-of-type(1){
    text-decoration: underline;
}

.hero-content:hover>h1, .hero-content:active>h1{
    opacity: 1;
    transition: 1s;
}
.hero-content:hover>h2, .hero-content:active>h2{
    opacity: 1;
    transition: 1s;
    transition-delay: 1s;
}