/* Media querys para laptop grande */

@media screen and (max-width: 1440px){
    :root{
        --gridTemplateColumns: auto 1fr auto;
    }

    /* html {
        inline-size: 100vw;
    } */

    .inset-wrapper [class*="content"]{
        max-inline-size: 100vw;
        overflow: hidden;
    }
    
    .slider-container{
        block-size: 80vh;
        min-block-size: 650px;
    }

    .logo{
        padding-inline-start: 1rem;
    }

    .main-title{
        border-radius: 0;
        justify-content: center;
    }

    .mainServices-section{
        border-radius: 0;
    }

    .slider{
        max-inline-size: 952px;
        align-self: center;
    }
}


/* Media querys para laptop pequeña */

@media screen and (max-width: 1024px){
    /* .slider-container{
        block-size: 80vh;
        min-block-size: 650px;
    } */

    .contact-content{
        padding-inline: 1rem;
    }

    .card-agroup .card:nth-of-type(3){
        display: none;
    }

    .vehicles-models{
    grid-template-columns: 1fr 1fr;
    }

    .contact-description h4{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-inline-end: .5rem;
        margin: 0;

    }
    .contact-description a{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contact-description img{
        margin-inline-end: .5rem;
    }
}


/* Media querys para tablets */
@media screen and (max-width: 768px){
    .vehicles-models{
    grid-template-columns: 1fr;
    }

    .vehicles-models{
        justify-items: center;
        }
    .vehicles-models .card{
        inline-size: fit-content;
        }
    .card img{
        inline-size: 370px;
    }

    .contact-content{
        grid-template-columns: 1fr auto;
        grid-template-rows: auto 1fr;
    }
    .contact-description{
        flex-direction: column;
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        block-size: 100%;
        box-sizing: border-box;
        justify-content: space-between;
    }
    .location{
        grid-row: 2 / -1;
        grid-column: 1 / -1;
    }

    .slider-container{
        justify-content: center;
        block-size: auto;
        min-block-size: 0px;
    }
    .slider{
        block-size: fit-content;
        min-block-size: 0px;
    }
    .img-container{
        block-size: fit-content;
    }

    .models-info{
        grid-template-columns: 4;
        grid-template-rows: 5;
    }
    .info-details{
        grid-column: 1 / -1;
        grid-row: 2 / -1;
    }
    .info-title{
        grid-column: 1 / 4;
        grid-row: 1 / 2;
    }

    .models-contact .location{
        display: none;
    }
}


@media screen and (max-width: 425px){
    .hidden-in-mobile{
        display: none;
    }

    .header{
        position: relative;
    }
    .header-content{
        flex-direction: column;
        align-items: center;
        justify-content: stretch;
    }
    .header-navigation ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .card-agroup .card:nth-of-type(n + 2){
        display: none;
    }
    .card-agroup .card img{
        inline-size: 310px;
        object-fit: contain;
    }

    .main-title h2{
        font: var(--headLine3);
    }

    .main-services{
        flex-direction: column;
        align-items: stretch;
        padding-inline: .25rem;
        box-sizing: content-box;
    }

    .card{
        transform: translateY(-45px);
        z-index: 1;
        background: rgba( 255, 255, 255, 0.25 );
        box-shadow: 0 8px 32px 0 rgba( 0, 0, 0, 0.4 );
        backdrop-filter: blur( 4px );
        -webkit-backdrop-filter: blur( 4px );
        border-radius: .5rem;
    }

    .main-carSlider{
        overflow-x: scroll;
    }
    .card-container{
        animation: none;
        -webkit-animation: none;
        -moz-animation: none;
        -o-animation: none;
    }

    .car-description{
        opacity: 1;
    }
    .card a{
        border-block-end: 2px solid gray;
    }

    /* .hero-content h2, .hero-content h1{
        opacity: 1;
    } */
    .hero-content br{
        display: initial;
    }

    .mainServices-section img{
        -webkit-filter: none; /* Webkit */
        filter: none; /* IE6-9 */
        filter: none; /* W3C */
    }
}