.wrapper{
    display: grid;
    grid-template-columns: var(--gridTemplateColumns);
    grid-template-areas: 'wrapper-start content wrapper-end';
}

.inset-wrapper{
    display: grid;
    grid-template-columns: var(--gridTemplateColumns);
    grid-template-areas: '. content .';
}

.inset-wrapper [class*="content"]{
    grid-area: content;


    /* max-inline-size: 100vw; */
}

.wrapper section{
    grid-column: 1 / -1;
}